<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <context id="Mybatis3Context" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/yiibaidb?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;nullCatalogMeansCurrent=true"
                        userId="mazy"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.example.workdemo.entity"
                            targetProject="F:/codefile/code/IDEA/workspace/work-demo/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--targetPackage="com.example.workdemo.mapper"最好和XMLMAPPER的targetPackage一致，方便配置config-->
        <sqlMapGenerator targetPackage="com.example.workdemo.mapper"
                         targetProject="F:/codefile/code/IDEA/workspace/work-demo/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.workdemo.mapper"
                             targetProject="F:/codefile/code/IDEA/workspace/work-demo/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="customers" domainObjectName="Customers" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="employees" domainObjectName="Employees" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="items" domainObjectName="Items" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="offices" domainObjectName="Offices" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="orderdetails" domainObjectName="OrderDetails" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="orders" domainObjectName="Orders" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="payments" domainObjectName="Payments" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="productlines" domainObjectName="ProductLines" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="products" domainObjectName="Products" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>
        <table tableName="tokens" domainObjectName="Tokens" enableInsert="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableCountByExample="true"
               enableDeleteByExample="true" enableUpdateByExample="true" enableSelectByExample="true">
        </table>

    </context>
</generatorConfiguration>